1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a dedicated `.py` file (or files) called `01ex_introduction.py`.

In case you need multiple files, name them `01ex_introduction_es01.py`, `01ex_introduction_es02.py` and so on. 

The exercises need to run without errors in `python3`.

In [42]:
#Task 1a
l=[]
for x in range(1, 101):
    if x % 3 == 0 and x % 5 == 0:
        l.append('HelloWorld')
    elif  x % 5 == 0:
        l.append('World')
    elif x % 3 == 0:
        l.append('Hello')
    else:
        l.append(x)

In [56]:
#Printing results of the task 1a
print(l)

[1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']

In [57]:
#Put results in tuple
print()
before_change=tuple(l)
print(before_change)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

In [59]:
#Task 1b
print("List before change:")
print(l)
for i in range(len(l)):
    if(l[i]=='Hello'):
        l[i]='Python'
    elif(l[i]=='World'):
        l[i]='Works'
    elif(l[i]=='HelloWorld'):
        l[i]='PythonWorks'
print()
print('List after change:')
print(l)

List before change:
[1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']

List after change:
[1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']

In [49]:
#saved results in the new tuple after replacing strings
#Printing results in tuple for the task 1b
print('Final results after all change saved in tuple:')
result_tuple=tuple(l)
print(result_tuple)

Final results after all change saved in tuple:
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables *x* and *y* from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [54]:
#Task 2
a=int(input('Set the value of the first number: '))
b=int(input('Set the value of the second number: '))
def swap(x,y ):
    
    x=x+y
    y=x-y
    x=x-y

    print("First number after change x=",x)
    print("Second number after change y=",y)
    
swap(a,b)

Set the value of the first number: 15
Set the value of the second number: 35
First number after change x= 35
Second number after change y= 15

3\. **Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v* in a 2D space, where *u* and *v* are both 2-tuples *(x,y)*.

Example: if *u=(3,0)* and *v=(0,4)*, the function should return 5.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [5]:
#Task 3

import math 
def eud_distance(u,v):
    result=math.sqrt(pow((u[0]-v[0]),2)+ pow((u[1]-v[1]),2))
    return result
u=(3,0)
v=(0,4)
eud_distance(u,v)

5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The strings are in the cell below.

In [62]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [63]:
#Task 4-string 1
#we have to ignore casesensitivity, so let's covert text in lower cases
s1=s1.lower()
unique_char1=set(s1)
unique_char1=list(unique_char1)
print('Unique charachters in the string 1:')
print(unique_char1)


for i in range(len(unique_char1)):
    d= s1.count(unique_char1[i])
    print('Charachter: ' , unique_char1[i], ' occurs: ' , d)

Unique charachters in the string 1:
['v', 'g', 'l', 'b', 'f', 'i', 'm', ' ', 'o', 'h', 'e', 'p', 'w', 'u', 's', 'a', 'd', '0', '.', '1', 'r', 't', 'n', 'c']
Charachter:  v  occurs:  2
Charachter:  g  occurs:  1
Charachter:  l  occurs:  12
Charachter:  b  occurs:  5
Charachter:  f  occurs:  10
Charachter:  i  occurs:  12
Charachter:  m  occurs:  8
Charachter:     occurs:  41
Charachter:  o  occurs:  15
Charachter:  h  occurs:  11
Charachter:  e  occurs:  20
Charachter:  p  occurs:  8
Charachter:  w  occurs:  4
Charachter:  u  occurs:  7
Charachter:  s  occurs:  7
Charachter:  a  occurs:  7
Charachter:  d  occurs:  5
Charachter:  0  occurs:  2
Charachter:  .  occurs:  3
Charachter:  1  occurs:  2
Charachter:  r  occurs:  19
Charachter:  t  occurs:  19
Charachter:  n  occurs:  10
Charachter:  c  occurs:  1

In [64]:
#Task 4, string 2
s2=s2.lower();
uniq_char2=set(s2);
#we need to convert set in the list
uniq_char2=list(uniq_char2)
print('Unique characters of the string2')
print(uniq_char2)

for i in range(len(uniq_char2)):
    x=s2.count(uniq_char2[i])
    print('Charachter: ' , uniq_char2[i], ' occurs: ' , x)

Unique characters of the string2
['v', 'g', 'l', 'b', 'f', 'i', 'm', 'z', ' ', 'o', 'h', 'e', 'p', 'x', 'w', 'u', 's', 'a', 'd', 'q', 'r', 'y', 't', 'j', 'k', 'c', 'n']
Charachter:  v  occurs:  1
Charachter:  g  occurs:  1
Charachter:  l  occurs:  1
Charachter:  b  occurs:  1
Charachter:  f  occurs:  1
Charachter:  i  occurs:  1
Charachter:  m  occurs:  1
Charachter:  z  occurs:  1
Charachter:     occurs:  8
Charachter:  o  occurs:  4
Charachter:  h  occurs:  2
Charachter:  e  occurs:  3
Charachter:  p  occurs:  1
Charachter:  x  occurs:  1
Charachter:  w  occurs:  1
Charachter:  u  occurs:  2
Charachter:  s  occurs:  1
Charachter:  a  occurs:  1
Charachter:  d  occurs:  1
Charachter:  q  occurs:  1
Charachter:  r  occurs:  2
Charachter:  y  occurs:  1
Charachter:  t  occurs:  2
Charachter:  j  occurs:  1
Charachter:  k  occurs:  1
Charachter:  c  occurs:  1
Charachter:  n  occurs:  1

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers in the list:

In [65]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [66]:
#Task 5
#Calculating how many times numbers occurs in the list and represents it like pair key:value in dictionary, where key is number
x={}
for i in l:
    if i in x:
        x[i]+=1
    else:
        x[i]=1
print(x)

{36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 2, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 2, 70: 3, 85: 3, 47: 1, 56: 2, 42: 2, 84: 4, 88: 1, 55: 1, 20: 3, 54: 1, 8: 1, 51: 3, 79: 1, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 2, 9: 1, 89: 2, 50: 2, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 34: 2, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

In [71]:
#Task 5
#Finding unique numbers 
l1=[]
for key, val in x.items():
    if val==1:
        l1.append(key)
        
l1.sort()        
print("Unique numbers in the list:",l1)

Unique numbers in the list: [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

37

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* and print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [84]:
#Task 6


try:
    x=input('Set the value of the x: ')
    y=input('Set the value of the y: ')
    
    if x.isdigit() and y.isdigit():
        
        x=int(x)
        y=int(y)
        b= x + y
        print(b)
        
    elif ('.' in x or '.' in y) or ('-' in x or '-' in y) :
        x=float(x)
        y=float(y)
        b= x + y
        print(b)
        
    else:
        b= x + y
        print(b)
    
except Exception as e:
    print(e)
    print('It is not possible to sum ', x, ' and ' , y)

Set the value of the x: -53.2l
Set the value of the y: 12
could not convert string to float: '-53.2l'
It is not possible to sum  -53.2l  and  12

Do the same exploiting only the Python data structures.

#### 7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [72]:
#Task 7a
l2=[]
for i in range (10):
    l2.append(i)
    
print(l2)    

for i in range (len(l2)):
    l2[i]=i*i*i

print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [76]:
#Task 7b

l3=[i for i in range(0,10)]
print(l3)

for i in range (0,len(l3)):
    l3[i]=pow(i,3)
print(l3)

l4=[i*i*i for i in range(0,10)]
print(l4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [44]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [77]:
#Task 8
a = [(i,j) for i in range(0,3) for j in range (0,4)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [8]:
#Task 9

result=[(a,b,c) for a in range(1,100) for b in range(a+1,100) for c in range(1,100) if a**2 + b**2 == c**2 and c<100 ]
tup=tuple(result)
print(tup)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [7]:
#Task 10
import math
def norm(x):
    xi_squared=[i**2 for i in x]
    sum_of_xi_squared=sum(xi_squared)
    n=math.sqrt(sum_of_xi_squared)
    result=[i/n for i in x]
    return tuple(result)
vec=[1,2,3]
a=norm(vec)

print(norm(vec))
s=[i**2 for i in a]
print(sum(s))

(0.2672612419124244, 0.5345224838248488, 0.8017837257372732)
1.0

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [78]:
#Task 11
#we set the value of i to calculate Fibonacci's number 
i = 1
num1, num2=0,1
print("First 20 Fibonacci numbers:")
while i < 21:
    
    print(num1)
    next = num1 + num2
    
    # update values
    num1 = num2
    num2 = next
    i+= 1

First 20 Fibonacci numbers:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181